<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Simon wow", "https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/learn/lecture/18724638#questions", class: "text-white" %></small>

  </div>
</footer>